{% extends 'index.html' %}

{% block content %}

<section id="mainSection">

    <div id="contentContainer">
    
        <div id="chatContainer">
            
            <div class="companyName">Auctioneer</div> 

            <div id="auctioneerChat">
                <div class="chat-log" id="chatLog">
                    <!-- Messages will be dynamically added here -->
                </div>
                <button class="buttonStyle" onclick="startServer()" id="serverButton">Start server</button>
                <div class="tBlackBG" id="auctionBlkBackground"></div> 
            </div>

              </div>


        <div id="guiContainer">
            <div id="gui">
                <div id="auctionChat">
                    <div class="chat-log" id="auctionLog">
                        <!-- Messages will be dynamically added here -->
                        <!-- <div class="bundleContainer">
                            <div class="bundleTitle">Bundle 1</div>
                        <div class="auctionLogText">
                            <div class="auctionLogTextSections">
                                <div class="auctionTitle">Request (x, y) -> (x, y)</div>
                                <div>Min Price: 300€, Revenue: 300€</div>
                                <div>55d402f6-3aef-42f5-aa80-6979c8ef8760</div>
                            </div>

                            <div class="auctionLogTextDivider"></div>

                            <div class="auctionLogTextSections">
                                <div class="auctionStatus">Bidding...</div>
                            </div>
                        </div> 

                        <div class="auctionLogText">
                            <div class="auctionLogTextSections">
                                <div class="auctionTitle">Request (x, y) -> (x, y)</div>
                                <div>Min Price: 300€, Revenue: 300€</div>
                                <div>55d402f6-3aef-42f5-aa80-6979c8ef8760</div>
                            </div>

                            <div class="auctionLogTextDivider"></div>

                            <div class="auctionLogTextSections">
                                <div class="auctionStatus">Bidding...</div>
                            </div>
                        </div> -->
                    </div> 

                    </div>
                </div>
            </div>
        </div>
    
    </div>

    <div class="guiButtonContainer">
        <!-- <div class="guiButtons" onclick="">Settings</div> -->
        <div class="guiButtons" id="restartButton">Reload</div>
    </div>

</section>

{% endblock %}