{% extends 'index.html' %}

{% block content %}

<div id="actionDisplay">
    <div id="closeButton" onclick="closeActionDisplay()">X</div>
    <div id="actionText">
        <span style="font-size: 2em;">Add Deliveries</span></br>
        You can upload your own deliveries or generate random ones.
    </div>
    <input type="file" id="file" accept=".xlsx, .xls" style="display: block; height: 50px; font-size: 1.5em; margin-top: 20px;">
    <div class="buttonStyle" id="uploadButton" onclick="uploadDeliveries()">Upload</div>
    <div id="settings">
        <p class="valueText" id="minVal">
            Base Price: 
            <input type="number" id="basePrice" min="0" value="300" oninput="updateSlider(this.value)" class="valueInput">
        </p>

        <p class="valueText" id="minVal">
            Loading Rate: 
            <input type="number" id="loadingRate" min="0"  value="100" oninput="updateSlider(this.value)" class="valueInput">
        </p>

        <p class="valueText" id="minVal">
            Kilometer Price: 
            <input type="number" id="kilometerPrice" min="0"  value="60" oninput="updateSlider(this.value)" class="valueInput">
        </p>

        <p class="valueText" id="minVal">
            Kilometer Cost: 
            <input type="number" id="kilometerCost" min="0" value="30" oninput="updateSlider(this.value)" class="valueInput">
        </p>

        <p class="valueText" id="maxVal">
            Sell request below: 
            <input type="number" id="sell_threshold" min="0" value="190" oninput="updateSlider(this.value)" class="valueInput">
        </p>
        
        <p class="valueText" id="minVal">
            Buy for minimum profit: 
            <input type="number" id="buy_threshold" min="0" value="20" oninput="updateSlider(this.value)" class="valueInput">
        </p>

    </div>
    <div class="buttonStyle" id="generateButton" onclick="generateDeliveries()">Generate</div>
</div>
<div class="tBlackBG" id="actionDarkBG" onclick="closeActionDisplay()"></div> 

<section id="mainSection">

    <div id="contentContainer">
    
        <div id="chatContainer">
            
            <input class="companyName" placeholder="Company Name" id="companyName">
        
            <div class="companyName" id="companyTitle">Company Name</div> 
            
            <div id="errorMessage"></div>
            
            <div id="carrierChat">
                <div class="chat-log" id="chatLog">
                    <!-- Messages will be dynamically added here -->
                </div> 
                
                <button class="buttonStyle" onclick="registerAuction()" id="registerButton">Register for auction</button>
                <div class="tBlackBG" id="chatBlkBackground"></div> 
            </div>
    
        </div>


        <div id="guiContainer">
            <div id="gui">
                <div id="guiTitle">Starting Tour</div>
                <img alt="Matplotlib Plot" id="frameGUI">
                <div class="tBlackBG" id="darkBackground"></div> 
                <div class="buttonStyle" id="deliveryButton" onclick="showActionDisplay()">Add deliveries</div>
            </div>
            <div id="guiBottomText">
                <div class="guiBottomText">Revenue <span id="revenue">0</span>€</div>
                <div class="guiBottomText">Cost <span id="cost">0</span>€</div>
                <div class="guiBottomText">Profit <span id="profit">0</span>€</div>
                <div class="guiBottomText">Distance <span id="distance">0</span>m</div>  
            </div>
        </div>
    
    </div>

    <div class="guiButtonContainer">
        <!-- <div class="guiButtons" onclick="">Settings</div> -->
        <div class="guiButtons" onclick="">Tour</div>
    </div>

</section>

{% endblock %}