{% extends 'index.html' %}

{% block content %}

<section id="simulationContent">
    <div class="simulationSettings">
        <div class="simulationText">Carrier amount: </div>
        <input type="number" class="simulationInput" id="carrierAmount">
        <!-- <div class="simulationText">Bundles: </div>
        <div class="simulationText">Bundle Sort: </div> -->
        <button class="buttonStyle" id="simulButton" onclick="startSimulation()">Start simulation</button> 
    </div> 
    
    <div id="consoleContainer">

        <!--
        <div class="consoleRow">
            <div class="consoles">
                <div class="consoleTitle">Auctioneer</div>
                <div class="consoleChat">Chatlog</div>
            </div>
            <div class="consoles">
                <div class="carrierConsoleTitle">Carrier 1</div>
                <div class="consoleChat">Chatlog</div>
            </div>
        </div>

        <div class="consoleRow">
            <div class="consoles">
                <div class="carrierConsoleTitle">Carrier 2</div>
                <div class="consoleChat">Chatlog</div>
            </div>
            <div class="consoles">
                <div class="carrierConsoleTitle">Carrier 3</div>
                <div class="consoleChat">
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>

                </div>
            </div>
        </div>
 -->
    </div>
    
</section>

{% endblock %}