{% extends 'index.html' %}

{% block content %}

<section id="simulationContent">
    <!-- <div class="simulationSettings">
        <div>Carrier amount:</div>
        <input type="number"></input>
        <a class="buttonStyle">Start simulation</a> 
    </div> -->
    
    <div id="consoleContainer">
        <div class="consoleRow">
            <div class="consoles">
                <div class="consoleTitle">Auctioneer</div>
                <div class="consoleChat">Chatlog</div>
            </div>
            <div class="consoles">
                <div class="carrierConsoleTitle">Carrier 1</div>
                <div class="consoleChat">Chatlog</div>
            </div>
        </div>

        <div class="consoleRow">
            <div class="consoles">
                <div class="carrierConsoleTitle">Carrier 2</div>
                <div class="consoleChat">Chatlog</div>
            </div>
            <div class="consoles">
                <div class="carrierConsoleTitle">Carrier 3</div>
                <div class="consoleChat">
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>
                    <div class="Test">Test</div>

                </div>
            </div>
        </div>

        <div class="consoleRow">
            <div class="consoles">
                <div class="carrierConsoleTitle">Carrier 4</div>
                <div class="consoleChat">Chatlog</div>
            </div>
            <div class="consoles">
                <div class="carrierConsoleTitle">Carrier 5</div>
                <div class="consoleChat">Chatlog</div>
            </div>
        </div>
    </div>
    
</section>

{% endblock %}